.your-info-step {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .step-container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .form-input-section {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 1rem;
            font-weight: 500;
        }
    }
}

@media (max-width: 450px) {
    .form-input-section {
        display: flex;
        flex-direction: column;

        label {
            font-size: 0.8em;
        }

        .validation-message {
            font-size: 0.8em !important;
        }
    }
}