.btn {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 
        background-color 250ms,
        color 250ms;

    &.btn-primary {
        background-color: var(--color-primary-1);
        color: var(--color-neutral-5);
        padding: 1em 1.5em;
        border-radius: 0.5em;

        &:hover {
            background-color: var(--color-primary-2);
        }
    }

    &.btn-secondary {
        background-color: transparent;
        color: var(--color-neutral-1);

        &:hover {
            color: var(--color-primary-1);
        }
    }
}