.form {
    display: grid;
    grid-template-columns: min-content auto;
    background-color: var(--color-neutral-5);
    width: 900px;
    padding: 1rem;
    padding-right: 0;
    border-radius: 1rem;
}

.side-bar {
    position: relative;
    color: var(--color-neutral-5);

    .steps {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2.5rem;

        .step-item {
            display: flex;
            align-items: center;
        }

        .step-number {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            background-color: transparent;
            border: 1px solid var(--color-neutral-5);
            border-radius: 100%;
            width: 2.25em;
            height: 2.25em;
            margin-right: 1.25rem;
            transition: background-color 500ms;

            &.active {
                background-color: var(--color-primary-4);
                color: var(--color-primary-1);
            }
        }

        .step-text {
            text-transform: uppercase;
            font-weight: 500;

            p:nth-child(1) {
                color: var(--color-neutral-1);
                font-size: 0.8rem;
                margin-bottom: 0.25rem;
            }

            p:nth-child(2) {
                letter-spacing: 1px;
            }
        }
    }
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--color-primary-1);
    margin: 0 4.5rem;

    .step {
        display: grid;
        grid-template-rows: auto auto 1fr;
    }

    .step-content {
        width: 100%;
        height: 100%;
    }

    .step-title {
        margin-top: 3rem;
    }

    .subtitle {
        color: var(--color-neutral-1);
        margin-bottom: 3rem;
    }

    .form-buttons {
        margin: 0 4.5rem;
    }
}

.your-info-step {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .step-container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .form-input-section {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 1rem;
        }
    }
}

.select-plan-step {
    .plans-container {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;

        .plan {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 150px;
            cursor: pointer;
            border: 1px solid var(--color-neutral-2);
            border-radius: 0.5rem;
            padding: 1.5rem;

            &.selected,
            &:hover {
                border: 1px solid var(--color-primary-2);
            }

            &.selected {
                background-color: var(--color-neutral-3);
            }
        }
    }

    .billing-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: var(--color-neutral-3);
        padding: 0.75rem 0px;
        border-radius: 0.5rem;

        label {
            font-weight: 500;
        }
    }
}

.add-ons-step {
    .step-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .add-on {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--color-neutral-2);
        border-radius: 0.5rem;
        padding: 1.5rem;
        cursor: pointer;

        .add-on-description {
            p:nth-child(1) {
                font-weight: 700;
            }

            p:nth-child(2) {
                color: var(--color-neutral-1);
            }
        }

        .add-on-price {
            color: var(--color-primary-2);
        }

        &.selected,
        &:hover {
            border: 1px solid var(--color-primary-2);
        }

        &.selected {
            background-color: var(--color-neutral-3);
        }
    }
}