@use "./form/index" as *;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --color-primary-1: hsl(213, 96%, 18%);
    --color-primary-2: hsl(243, 100%, 62%);
    --color-primary-3: hsl(228, 100%, 84%);
    --color-primary-4: hsl(206, 94%, 87%);
    --color-primary-5: hsl(354, 84%, 57%);

    --color-neutral-1: hsl(231, 11%, 63%);
    --color-neutral-2: hsl(229, 24%, 87%);
    --color-neutral-3: hsl(217, 100%, 97%);
    --color-neutral-4: hsl(231, 100%, 99%);
    --color-neutral-5: hsl(0, 0%, 100%);
}

html, body, #root, .main {
    height: 100%;
}

body {
    font-size: 16px;
    background-color: var(--color-neutral-3);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution { 
    position: absolute;
    bottom: 20px;
    font-size: 1rem; 
    text-align: center; 

    a { 
        color: var(--color-primary-2); 
        text-decoration: none;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 900px) {
    .attribution {
        top: 10px;
        pointer-events: none;

        a {
            font-size: 0.75rem;
            color: var(--color-neutral-5);
        }
    }
}